# Configuración de base de datos MySQL en AWS (RDS u otro)
DB_HOST=database-1.cecbthcbtdqa.us-east-1.rds.amazonaws.com
DB_NAME=myeventz_db
DB_USER=admin
DB_PASSWORD=admin123

# Configuración de Firebase
FIREBASE_PROJECT_ID=myeventzaragoza
